<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>DERBY JACKPOT |index</title>

<link href="css/style.css" type="text/css" rel="stylesheet">
<link href="css/jquery.jscrollpane.css" type="text/css" rel="stylesheet">
<!--[if lt IE 8]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if IE 7]>
    <style type="text/css">
    	.txtbox1{margin:-3px 0 0 43px;}
    </style>
<![endif]-->
<script type="text/javascript" src="js/jquery1.7.1.min.js"></script>
<script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="js/jquery.mousewheel.js"></script>

<script type="text/javascript" src="js/CreateHTML5Elements.js"></script>



</head>

<body>

          
    
    <section class="container_wrap">
        <div class="container_cont">
            <section class="main fltleft">
            	<section class="mainTop">
                	<div class="mainLogo fltleft"><a href="#"><img src="img/logo2.png" alt=""></a></div>
                    <div class="mainSidebar fltright">
                    	<p>Pick 4 horses in 1 race. If your horses <br>finish in the top four in ANY order, you win!</p>

                        <p>Enter betsize to see possible winnings.<br>Changing the size of the bet will change <br>the amount you can win.</p>
                        <ul>
                        	<li class="firstbox">
                            	<div class="picbox"><img src="img/pic1.png" alt=""></div>
                                <div class="boxInfo">
                                	<h2>Time until the next race:</h2>
                                    <span>00:14:37</span>

                                </div>
                            </li>
                            
                            <li class="secondbox">
                            	<div class="picbox"><img src="img/pic2.png" alt=""></div>
                                <div class="boxInfo">
                                	<h2>Enter a bet amount</h2>
                                    <form action="#" method="get">
                                    	<div><input name="" type="text" class="txtbox1" value="$125.50"></div>

                                    </form>
                                </div>
                            </li> 
                             
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </section>
                
                <section class="mainBottom"><!--mainBottom-->
                	<div class="mainBottom_heading">

                    	<div class="heading fltleft"><h2>Choose the Winning Horse- The Monkey Derby Jackpot</h2></div>
                      
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="horse_area">
                    <div class="scroll-pane">
                    	<div class="horse_box">
                        	<a href="#"><img src="img/horse1.png" alt=""></a>

                            <div class="horseNo"><a href="#">1</a></div>
                        </div>
                        
                        <div class="horse_box colB">
                        	<a href="#"><img src="img/horse2.png" alt=""></a>
                            <div class="horseNo"><a href="#">2</a></div>
                        </div>
                        
                        <div class="horse_box">
                        	<a href="#"><img src="img/horse3.png" alt=""></a>

                            <div class="horseNo"><a href="#">3</a></div>
                        </div>
                        
                        <div class="horse_box colB">
                        	<a href="#"><img src="img/horse4.png" alt=""></a>
                            <div class="horseNo"><a href="#">4</a></div>
                        </div>
                        
                        <div class="horse_box nomrR">
                        	<a href="#"><img src="img/horse5.png" alt=""></a>

                            <div class="horseNo"><a href="#">5</a></div>
                        </div>
                        <div class="clearfix"></div>
                        
                        <div class="horse_box coly">
                        	<a href="#"><img src="img/horse6.png" alt=""></a>
                            <div class="horseNo"><a href="#">6</a></div>
                            <!--<div class="horse_boxHover">
                            	<h2><a href="#"># 6 Hoof Hearted</a></h2>
                                <span><a href="#">odds 8:1</a></span>
                            </div>-->
                        </div>

                        
                        <div class="horse_box colB">
                        	<a href="#"><img src="img/horse10.png" alt=""></a>
                            <div class="horseNo"><a href="#">7</a></div>
                        </div>
                        
                        <div class="horse_box colB">
                        	<a href="#"><img src="img/horse8.png" alt=""></a>
                            <div class="horseNo"><a href="#">8</a></div>
                        </div>

                        
                        <div class="horse_box colB">
                        	<a href="#"><img src="img/horse9.png" alt=""></a>
                            <div class="horseNo"><a href="#">9</a></div>
                        </div>
                        
                        <div class="horse_box coly nomrR">
                        	<a href="#"><img src="img/horse7.png" alt=""></a>
                            <div class="horseNo"><a href="#">10</a></div>
                        </div>

                        <div class="clearfix"></div>
                        
                         <div class="horse_box colB">
                        	<a href="#"><img src="img/horse11.png" alt=""></a>
                            <div class="horseNo"><a href="#">11</a></div>
                        </div>
                        
                        <div class="horse_box colB">
                        	<a href="#"><img src="img/horse12.png" alt=""></a>
                            <div class="horseNo"><a href="#">12</a></div>

                        </div>
                        
                        <div class="horse_box colB">
                        	<a href="#"><img src="img/horse13.png" alt=""></a>
                            <div class="horseNo"><a href="#">13</a></div>
                        </div>
                        
                        <div class="horse_box coly">
                        	<a href="#"><img src="img/horse14.png" alt=""></a>
                            <div class="horseNo"><a href="#">14</a></div>

                        </div>
                        
                        <div class="horse_box colB nomrR">
                        	<a href="#"><img src="img/horse15.png" alt=""></a>
                            <div class="horseNo"><a href="#">15</a></div>
                        </div>
                        <div class="clearfix"></div>
                        
                        <div class="horse_box">
                        	<a href="#"><img src="img/horse1.png" alt=""></a>

                            <div class="horseNo"><a href="#">16</a></div>
                        </div>
                        
                        <div class="horse_box colB">
                        	<a href="#"><img src="img/horse2.png" alt=""></a>
                            <div class="horseNo"><a href="#">17</a></div>
                        </div>
                        
                        <div class="horse_box">
                        	<a href="#"><img src="img/horse3.png" alt=""></a>

                            <div class="horseNo"><a href="#">18</a></div>
                        </div>
                        
                        <div class="horse_box colB">
                        	<a href="#"><img src="img/horse4.png" alt=""></a>
                            <div class="horseNo"><a href="#">19</a></div>
                        </div>
                        
                        <div class="horse_box nomrR">
                        	<a href="#"><img src="img/horse5.png" alt=""></a>

                            <div class="horseNo"><a href="#">20</a></div>
                        </div>
                        <div class="clearfix"></div>
                        
                        
                        <div class="horse_box">
                        	<a href="#"><img src="img/horse1.png" alt=""></a>
                            <div class="horseNo"><a href="#">21</a></div>
                        </div>
                        
                        <div class="horse_box colB">

                        	<a href="#"><img src="img/horse2.png" alt=""></a>
                            <div class="horseNo"><a href="#">22</a></div>
                        </div>
                        
                        <div class="horse_box">
                        	<a href="#"><img src="img/horse3.png" alt=""></a>
                            <div class="horseNo"><a href="#">23</a></div>
                        </div>
                        
                        <div class="horse_box colB">

                        	<a href="#"><img src="img/horse4.png" alt=""></a>
                            <div class="horseNo"><a href="#">23</a></div>
                        </div>
                        
                        <div class="horse_box nomrR">
                        	<a href="#"><img src="img/horse5.png" alt=""></a>
                            <div class="horseNo"><a href="#">25</a></div>
                        </div>
                        <div class="clearfix"></div>

                        </div>
                    </div>
                    
                </section><!--mainBottom_end-->
                 <section class="bottomCont">
                 	<h2>You are betting <a href="#">$50</a> to win up to <a href="#">$250</a></h2>
                    <span><a href="#">Place My Bets</a></span>

                    <div class="clearfix"></div>
                 </section>
            </section>
            <aside class="sidebar fltright">
            
            	 <div class="widget">
                	<h2 class="acc_trigger"><a href="#"><img src="img/result.png" alt=""></a></h2>
                    <div class="widget_box2 acc_container">
                    	<ul>
                        	<li>

                            	<div class="picBox3 fltleft"><a href="#"><img src="img/pic4.png" alt=""></a></div>
                                <div class="picinfo3 fltleft">
                                	<p><strong>The Monkey</strong> - Saratoga Race 5 <br>$ 50.00</p>
                                   	<div class="rating">
                                    	<a href="#"><img src="img/thumbhorse_1.png" alt=""></a>
                                        <a href="#"><img src="img/thumbhorse_2.png" alt=""></a>
                                        <a href="#"><img src="img/thumbhorse_3.png" alt=""></a>

                                        <a href="#"><img src="img/thumbhorse_4.png" alt=""></a>
                                    </div>
                                    <p>Results - <strong>Winner! $400</strong></p>	
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            
                            <li>
                            	<div class="picBox3 fltleft"><a href="#"><img src="img/pic4.png" alt=""></a></div>

                                <div class="picinfo3 fltleft">
                                	<p><strong>The Monkey</strong> - Saratoga Race 5 <br>$ 50.00</p>
                                   	<div class="rating">
                                    	<a href="#"><img src="img/thumbhorse_1.png" alt=""></a>
                                        <a href="#"><img src="img/thumbhorse_2.png" alt=""></a>
                                        <a href="#"><img src="img/thumbhorse_3.png" alt=""></a>
                                        <a href="#"><img src="img/thumbhorse_4.png" alt=""></a>

                                    </div>
                                    <p>Results - <strong>Winner! $400</strong></p>	
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            
                            <li>
                            	<div class="picBox3 fltleft"><a href="#"><img src="img/pic4.png" alt=""></a></div>
                                <div class="picinfo3 fltleft">

                                	<p><strong>The Monkey</strong> - Saratoga Race 5 <br>$ 50.00</p>
                                   	<div class="rating">
                                    	<a href="#"><img src="img/thumbhorse_1.png" alt=""></a>
                                        <a href="#"><img src="img/thumbhorse_2.png" alt=""></a>
                                        <a href="#"><img src="img/thumbhorse_3.png" alt=""></a>
                                        <a href="#"><img src="img/thumbhorse_4.png" alt=""></a>
                                    </div>

                                    <p>Results - <strong>Winner! $400</strong></p>	
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            
            	<div class="widget">

                	<h2 class="acc_trigger"><a href="#"><img src="img/my_bet.png" alt=""></a></h2>
                    <div class="widget_box acc_container">
                    	<ul>
                        	<li>
                            	<div class="picbox2"><a href="#"><img src="img/pic3.png" alt=""></a></div>
                                <div class="picinfo">The Monkey <br>Enim vestibulum. Fusce a elit lorem, sit amet gravida sapien.</div>
                                <div class="clearfix"></div>
                            </li>

                            
                            <li>
                            	<div class="picbox2"><a href="#"><img src="img/pic3.png" alt=""></a></div>
                                <div class="picinfo">The Monkey <br>Enim vestibulum. Fusce a elit lorem, sit amet gravida sapien.</div>
                                <div class="clearfix"></div>
                            </li>
                            
                            <li>
                            	<div class="picbox2"><a href="#"><img src="img/pic3.png" alt=""></a></div>
                                <div class="picinfo">The Monkey <br>Enim vestibulum. Fusce a elit lorem, sit amet gravida sapien.</div>

                                <div class="clearfix"></div>
                            </li>
                            
                            <li>
                            	<div class="picbox2"><a href="#"><img src="img/pic3.png" alt=""></a></div>
                                <div class="picinfo">The Monkey <br>Enim vestibulum. Fusce a elit lorem, sit amet gravida sapien.</div>
                                <div class="clearfix"></div>
                            </li>
                            
                        </ul>

                    </div>
                </div>
                
                <div class="widget ChatBox">
                	<h2><a href="#"><img src="img/chat.png" alt=""></a></h2>
                    <div class="Chatarea">
                    	<ul>
                        	<li><strong>Lorem ipsum dolor :</strong> sit amet, </li>

                            <li class="colG"><strong>Lorem ipsum dolor :</strong> sit amet, </li>
                            <li><strong>Lorem ipsum dolor :</strong> Lorem ipsum dolor sit amet,  </li>
                            <li class="colG"><strong>Lorem ipsum dolor :</strong> Lorem ipsum dolor sit amet Lorem ipsum dolor</li>
                            <li><strong>Lorem ipsum dolor :</strong> sit amet, </li>

                            <li class="colG"><strong>Lorem ipsum dolor :</strong> sit amet, </li>
                            <li><strong>Lorem ipsum dolor :</strong> Lorem ipsum dolor sit amet,  </li>
                            <li class="colG"><strong>Lorem ipsum dolor :</strong> Lorem ipsum dolor sit amet Lorem ipsum dolor</li>
                            <li><strong>Lorem ipsum dolor :</strong> sit amet, </li>

                            <li class="colG"><strong>Lorem ipsum dolor :</strong> sit amet, </li>
                            <li><strong>Lorem ipsum dolor :</strong> Lorem ipsum dolor sit amet,  </li>
                            <li class="colG"><strong>Lorem ipsum dolor :</strong> Lorem ipsum dolor sit amet Lorem ipsum dolor</li>
                        </ul>

                    </div>
                    <form action="#" method="post">
                        <div>
                            <textarea name="" cols="10" rows="10" class="enterchat">enter a message</textarea>
                        </div>
                    </form>
                </div>
                
               
            </aside>

            <div class="clearfix"></div>
        </div>
    </section>
    
    <footer class="footer_wrap">
    	<div class="footerNav">
        	<ul>
            	<li class="nobr4"><a href="">&copy; Derby Jackpot </a></li>
                <li><a href="">Sign Up</a></li>

                <li><a href="">Sign In</a></li>
                <li><a href="">24/7 Support</a></li>
                <li><a href="">How it works</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>

